@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Noto+Sans+Symbols+2&display=swap');
*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

h1 {
    position:absolute;
    color:rgba(255,255,255,0.6);
    text-shadow: 0 0 20px rgba(255,255,255,0.3);
    top:30%;
    width:45vw;
    letter-spacing: 5px;
    left:calc(50% - 20vw);
    z-index: 99999;
    font-size:200px;
    font-family: 'Noto Sans Symbols 2', sans-serif;
    pointer-events: none;
}